<footer>
	<ul class="nav__list">
		<li class="nav__list--item copyright">
			<span class="nav__list--link">&copy; Copyright 2018 Niere Theory</span>
		</li>
		<li class="nav__list--item">
			<a href="#" class="nav__list--link">
				<i class="fab fa-facebook"></i>
			</a>
		</li>
		<li class="nav__list--item">
			<a href="#" class="nav__list--link">
				<i class="fab fa-twitter"></i>
			</a>
		</li>
		<li class="nav__list--item">
			<a href="#" class="nav__list--link">
				<i class="fab fa-github"></i>
			</a>
		</li>
		<li class="nav__list--item">
			<a href="#" class="nav__list--link">
				<i class="fab fa-instagram"></i>
			</a>
		</li>
		<li class="nav__list--item">
			<a href="#" class="nav__list--link">
				<i class="far fa-envelope"></i>
			</a>
		</li>
	</ul>
</footer>
