<div class="entrycontainer">

    <h4 class="entry__heading">Enter New Sale</h4>

    <form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
        <div class="formgroup">
            <label class="formgroup__label" for="region">Region</label>
            <select ngModel class="formgroup__input" name="Region" id="region" required>
                <option disabled selected></option>
                <option *ngFor="let region of regions" [value]="region.REGIONID">{{ region.REGIONNAME }}</option>
            </select>
        </div>

        <div class="formgroup">
            <label class="formgroup__label" for="employee">Employee</label>
            <select ngModel class="formgroup__input" name="Employee" id="employee" required>
                <option value="" disabled selected></option>
                <option *ngFor="let emp of employees" [value]="emp.EMPLOYEEID">{{ emp.FULLNAME }}</option>
            </select>
        </div>

        <div class="formgroup">
            <label class="formgroup__label" for="Dollars">Dollars</label>
            <input ngModel class="formgroup__input" type="number" name="Dollars" id="amount" min="100" max="400" step="1" required>
        </div>

        <div class="formgroup">
            <label class="formgroup__label" for="date">Date</label>
            <div class="formgroup__date">
                <div class="formgroup__date--part formgroup__month">
                    <select ngModel class="formgroup__input" name="month" id="employee" required value="">
                        <option value="" disabled selected>Month</option>
                        <option *ngFor="let month of months" [value]="month.val">{{ month.name }}</option>
                    </select>
                </div>
                <div class="formgroup__date--part formgroup__day">
                    <input ngModel class="formgroup__input" type="number" name="day" min="1" max="31" step="1" placeholder="Day" value="" required value="">
                </div>
            </div>
        </div>

        <div class="formgroup formgroup__button">
            <button [disabled]="submitNewDisabled" class="submit__button--go" type="submit">Add Sale</button>
        </div>
    </form>

</div>