.entrycontainer {
    max-width: 70rem;
    margin: 0 auto;
}

.entry__heading {
    font-size: 2.5rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: var(--color-light-blue);
}

.form {
    padding: 2rem;
    
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 1.5rem;
}

.formgroup__label {
    display: block;
    color: var(--color-dark-blue);
    font-size: 1.25rem;
    font-weight: 900;
}

.formgroup__input {
    width: 100%;
    height: 3.5rem;
    font-size: 1.5rem;
    outline: none;
    color: var(--color-dark-blue);
}

.formgroup__input[type="number"] {
    padding-left: .75rem;
}

.formgroup__input:valid {
    border-bottom: 2px dotted var(--color-primary-green);
}

.formgroup__date {
    display: flex;
    flex-flow: row;
}

.formgroup__date--part {
    flex: 1;
}

.formgroup__date--part:not(:last-child) {
    margin-right: 1rem;
}

.formgroup__button {
    margin: 1rem auto;
    grid-column: 1 / 3;
    grid-row: 3;
}

.submit__button--go {
    text-transform: uppercase;
    margin-top: 3rem;
    border-radius: 500px;
    margin: 0 auto;
    width: 25rem;
    height: 4rem;
    font-size: 1.75rem;
    box-shadow: 0 1rem 2rem 0 var(--color-light-black);
    background-color: var(--color-dark-blue);
    color: white;
    outline: none;
}

@media only screen and (max-width: 600px) {
	.form {
        display: flex;
        flex-flow: column;
    }
    .formgroup:not(:last-child) {
        margin-bottom: 2rem;
    }
}