.nav__list {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	font-size: 2rem;
	padding: 1rem;
	background-color: var(--color-dark-blue);
}

.nav__list--link {
	text-decoration: none;
	color: var(--color-primary-white);
	padding: 1rem;
}

.nav__list--item:first-child {
	font-weight: 400;
	margin-right: auto;
}

@media only screen and (max-width: 600px) {
	.nav__list {
		flex-flow: column;
		padding: .5rem 0 0 0;
	}
	.nav__list--item {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid var(--color-primary-grey);
		padding: .75rem;
	}
	.nav__list--link {
		padding: 1rem 2rem;
	}
	.nav__list--item:first-child {
		margin-right: 0;
	}
}