<div class="tables">
    <div *ngIf="topSales" class="table__div">
        <h2 class="table__header">Top Sales All Time</h2>
        <div class="tbl__wrapper">
            <table class="table">
                <thead>
                    <tr class="tbl__row tbl__row--header">
                        <th class="tbl__th">Rep</th>
                        <th class="tbl__th">Date</th>
                        <th class="tbl__th">Region</th>
                        <th class="tbl__th">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbl__row tbl__row--data" *ngFor="let sale of topSales">
                        <td>{{ sale.firstName }} {{ sale.lastName }}</td>
                        <td>{{ sale.saleDate | date: 'MMM d, y' }}</td>
                        <td>{{ sale.region }}</td>
                        <td>{{ sale.amount | currency:'USD':'symbol':'1.0-0' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="mySales" class="table__div">
        <h2 class="table__header">My Sales</h2>
        <div class="tbl__wrapper">
            <table class="table">
                <thead>
                    <tr class="tbl__row tbl__row--header">
                        <th class="tbl__th">Rep</th>
                        <th class="tbl__th">Date</th>
                        <th class="tbl__th">Region</th>
                        <th class="tbl__th">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbl__row tbl__row--data" *ngFor="let sale of mySales">
                        <td>{{ sale.firstName }} {{ sale.lastName }}</td>
                        <td>{{ sale.saleDate | date: 'MMM d, y' }}</td>
                        <td>{{ sale.region }}</td>
                        <td>{{ sale.amount | currency:'USD':'symbol':'1.0-0' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div *ngIf="mySales" class="table__div">
    <h2 class="table__header">My Recent Sales</h2>
    <div *ngIf="!ready">
        <div class="loginheading">
            Please <a routerLink="/login">login</a> to view your most recent sales
        </div>
    </div>
    <div *ngIf="ready" class="tbl__wrapper">
        <table class="table">
            <thead>
                <tr class="tbl__row tbl__row--header">
                    <th class="tbl__th">Rep</th>
                    <th class="tbl__th">Date</th>
                    <th class="tbl__th">Region</th>
                    <th class="tbl__th">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tbl__row tbl__row--data" *ngFor="let sale of sales">
                    <td>{{ sale.firstName }} {{ sale.lastName }}</td>
                    <td>{{ sale.saledate | date: 'MMM d, y' }}</td>
                    <td>{{ sale.region }}</td>
                    <td>{{ sale.amount | currency:'USD':'symbol':'1.0-0' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
</div>