<div class="logincontainer">
    <h4 class="formheader">Login</h4>

    <form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
        <div class="formgroup">
            <label class="formgroup__label" for="username">Username</label>
            <input class="formgroup__input" type="text" name="username" value="sample user"required>
        </div>
        <div class="formgroup">
            <label class="formgroup__label" for="password">Password</label>
            <input class="formgroup__input" type="password" name="password" value="samplepassword" required>
        </div>

        <div class="formgroup formgroup__button">
            <button class="submit__button--go" type="submit">Let's Go</button>
        </div>
    </form>
</div>