<div class="kpis" *ngIf="regionalSales$ | async; else loading; let regionalSales">
    <div *ngFor="let regionalSale of regionalSales" class="kpi__card">
        <div class="kpi__card--header">
            {{ regionalSale.region }}
        </div>
        <div class="kpi__card--num pos">
            {{ regionalSale.summedAmount | currency:'USD':'symbol':'1.0-0' }}
        </div>
        <div class="kpi__card--footer">
            {{ regionalSale.saleCount }} Sales
        </div>
    </div>
</div>
<ng-template #loading>
    <app-loader [loadingText]="'KPIs'"></app-loader>
</ng-template>