.kpis {
	color: var(--color-light-blue);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
}

.kpi__card {
	background-color: var(--color-primary-white);
	box-shadow: 0 .5rem 1rem 0 var(--color-light-black);
	text-align: center;
	padding: 1rem 2rem;
}

.kpi__card:hover {
	transform: translateY(-.1rem);
	box-shadow: 0 1rem 2rem 0 var(--color-light-black);
}

.kpi__card--header {
	font-size: 1.75rem;
	font-weight: 400;
	text-transform: uppercase;
}

.kpi__card--num {
	font-size: 2.5rem;
	font-weight: 400;
}

.kpi__card--footer {
	font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
	.kpis {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.kpis {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
}