<div *ngIf="salesByMonth" class="charts">
    <app-monthly-chart class="chart" [salesByMonth]="salesByMonth"></app-monthly-chart>
    <app-regional-chart class="chart"></app-regional-chart>
    <!-- <div class="graph heat" [style.height.vh]="maxHeight">
        <div class="chart__graph">
            <div class="graph--header">
                Sales by Month
            </div>
            <div class="graph--bar heat" *ngFor="let sale of salesByMonth" [style.flex]="sale.percentOfTotal">
                {{ sale.summedAmount | currency:'USD':'symbol':'1.0-0' }}
                <br>
                {{ sale.month }}
            </div>
        </div>
    </div> -->


</div>

<!-- 
<div class="chart">
	<div class="chart__graph">
		<div class="graph--header">
			Sales by Month
		</div>
		<div class="graph">
			<div
			class="graph--bar heat" *ngFor="let sale of monthlysales"
			[ngStyle]="{'background-color': 'rgba(255, 69, 0,' + (sale.PORTION / maxmonthlysale) + ')'}" [style.flex]="sale.PORTION/2" [style.height.rem]="maxheight/2">
				{{ sale.SALEMONTH.split("T")[0] | date:'MMM' }}
				<br>
				{{ sale.SALESUM | currency:'USD':'symbol':'1.0-0' }}
			</div>
		</div>
	</div>	
	
	<div class="chart__graph">
		<div class="graph--header">
				Sales by Region
		</div>
		<div class="graph">
			<div [ngStyle]="{'background-color': 'rgba(255, 69, 0,' + (sale.SALESUM / maxregionalysale) + ')'}" class="graph--bar" *ngFor="let sale of regionalsales" [style.height]="sale.PORTION/2 + 'rem'">
				{{ sale.SALEREGION }}
				<br>
				{{ sale.SALESUM | currency:'USD':'symbol':'1.0-0' }}
			</div>
		</div>
	</div>	
</div> -->