.charts {
	display: flex;
	margin-bottom: 2rem;
}

.chart__graph {
	flex: 1;
	background-color: var(--color-primary-white);

	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.chart__graph:not(:last-child) {
	margin-right: 2rem;
}

.graph {
	padding: 1rem;

	flex: 1;

	display: flex;
	flex-flow: row;
	align-items: flex-end;
	justify-content: flex-end;
}

.graph--header {
	font-size: 1.75rem;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: .5rem;
	color: var(--color-primary-white);
	background-color: var(--color-dark-blue);
}

.graph--bar {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--color-primary-white);

	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-flow: column;
	flex: 1;
	background-color: var(--color-primary-orange);
}

.graph--bar:not(:last-child) {
	margin-right: .5rem;
}

.heat {
	justify-content: center;
}

@media only screen and (max-width: 800px) {
	.charts {
		flex-flow: column;
	}
	.chart__graph {
		margin-bottom: 1rem;
		width: 100%;
	}
}